/* Footer */
footer {
    background-color: #0f0b0b;
    padding: 30px 0;
    width: 100%;
}
.site-footer {
    height: 30px;
}

.site-footer hr {
    border-top-color: #dfe1e7;
    opacity: 0.5;
}

.site-footer p {
    color: #dfe1e7;
    text-align: center;

}

.container-fluid {
    width: 100%;
}
